<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ru.voltperm.app"
        versionCode = "10"
        version     = "1.0.0">

    <name>ТЕСТ. voltperm.ru</name>

    <description>
        Магазин электротоваров "Вольт" на Гайве. В нашем интернет-магазине мы собрали для вас более 3 000 наименований электрики, кабельной продукции, светотехники, электроинструмента, крепежа. Вы найдете у нас весь объем электрики для Вашего объекта.
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="29" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#337F90" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/39a9460ced2fd7087a406bb0f589b826.png" density="ldpi" />
        <icon src="res/android/icon/cb84103f26f06e2af0a3c1a242e2aecd.png" density="mdpi" />
        <icon src="res/android/icon/07579115d60967b89ee8a3a12e3134da.png" density="hdpi" />
        <icon src="res/android/icon/9cd6586f894fc2591d06701fcbab44b5.png" density="xhdpi" />
        <icon src="res/android/icon/34fff0eaa237d15e6d62f530c3b21b35.png" density="xxhdpi" />
        <icon src="res/android/icon/d1a631fb07398ab76b65cf9cecd8cd70.png" density="xxxhdpi" />

        <splash src="res/android/screen/6f2cfb023536dc44f25af0c754d34ddf.png" density="port-hdpi"/>
        <splash src="res/android/screen/eef6bd0cc0a88c5c3787200afe4e80c7.png" density="port-ldpi"/>
        <splash src="res/android/screen/e107fdd6a270dfc376b1bf7e8d7f9580.png" density="port-mdpi"/>
        <splash src="res/android/screen/54d9d9c7f84b889c207f757ffacb9cc3.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/bdf2633b905c1e52eff0d9c764c2b86b.png" width="180" height="180" />
        <icon src="res/ios/icon/d9f51fa80da6f903bea8ea6c3c421fa0.png" width="60" height="60" />
        <icon src="res/ios/icon/946d39cc54362764537396f06ef20b4b.png" width="120" height="120" />
        <icon src="res/ios/icon/713d077373f0d8989fd1ea90dd632fc4.png" width="76" height="76" />
        <icon src="res/ios/icon/78900c2fbdfa1ab61edbba2860cf874d.png" width="152" height="152" />
        <icon src="res/ios/icon/4c87c977110c191d652266575ee1b8f6.png" width="57" height="57" />
        <icon src="res/ios/icon/2eaa37e9d180b1c0841d5410b3a90dcc.png" width="114" height="114" />
        <icon src="res/ios/icon/a92c4ff42de42c46fd96928c376d3e63.png" width="72" height="72" />
        <icon src="res/ios/icon/d12e92b5469c40ff18cf8e26d1c997e2.png" width="144" height="144" />
        <icon src="res/ios/icon/ded180322b2eff63272b836488a7afae.png" width="167" height="167" />
        <icon src="res/ios/icon/159d7c079495ca66855f45994cb62146.png" width="29" height="29" />
        <icon src="res/ios/icon/9339ace6acc9bb23d492dcac616f5647.png" width="58" height="58" />
        <icon src="res/ios/icon/8b2e04ca87e380e1dc66ecaeb230b784.png" width="87" height="87" />
        <icon src="res/ios/icon/eca2f3ff22c5b42e983d26ded2801daa.png" width="167" height="167" />

        <splash src="res/ios/screen/1b4e129263ac161a1229142a0e5290ec.png" />
        <splash src="res/ios/screen/42108a6e1cfaf21adfab9d80d16ffa1f.png" />
        <splash src="res/ios/screen/51e02cf869b2864be6051552639441f0.png" />
        <splash src="res/ios/screen/8f4d4fb8d434de4dea17baeb6dc7a80c.png" />
        <splash src="res/ios/screen/9b1e6ca9314ebe6ecb0a74f230787fa8.png" />
        <splash src="res/ios/screen/0c61384a93113e38996fccd26461f667.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/ea842730de4f68985e4088925eb48f3b.png" target="StoreLogo" />
        <icon src="res/windows/icon/b8bf340150697c3652f78a01c42f4e44.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/eb2c0cdc18836a0bacedb1557c454af3.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/2889777a658347bdcffb09929a5483d8.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/f527142b76c7430602f267d0c5e51fec.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/24a2e395d7af2fc9a478ad4278dc73d3.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/3a84c42b1a8fcb27ad4e5e80271a4dc9.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/686acbe072f858d81b1b5adeb0b5f78e.png" target="SplashScreen"/>
        <splash src="res/windows/screen/8ed21929252f9d6080e23ffed10235d3.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>